@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --bg-color1: #FFF0E9;
    --bg-color2: #FCFBFC;
    --yellow: #FECC64;
    --red-heading:#EA5858;
    --gray: #928B89;
    --black: #3D3C3E;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg-color1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    cursor: pointer;
}

.menu{
    display: flex;
    gap: 2.8rem;
}

.link{
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;
}

.link:hover{
    background-color: var(--red-heading);
    color: var(--bg-color2);
}

.link.active{
    background-color: var(--red-heading);
    color: var(--bg-color2);
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#login{
    color: var(--red-heading);
    font-size: 1.2rem;
    font-weight: 500;
}

#login:hover{
    text-decoration: underline;
}

#signup{
    color: var(--red-heading);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
    border: 2px solid var(--red-heading);
    transition: all 0.3s ease-in;
}

#signup:hover{
    background-color: var(--red-heading);
    color: var(--bg-color2);
}

.bar{
    font-size: 1.5rem;
    color: var(--red-heading);
    cursor: pointer;
    display: none;
}

#home{
    background-color: var(--bg-color1);
    height: 100vh;
}

#about{
    background-color: var(--bg-color2);
    height: 100vh;
}